# MongoDB connection string (MongoDB Atlas किंवा local)
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/entertainment-app

# JWT secret - कोणतीही लांब random string ठेवा
JWT_SECRET=this_is_a_super_secret_key_change_me

# Server port
PORT=5000
